@model Day3_WebApplication.Models.Person
<div id="header-person">
    <h2> Faction @Model.FactionName </h2>
    @{
        string image = $"data:image/jpeg;base64,{Convert.ToBase64String(Model.Icon)}";
    }
    <img class="header-image" src="@image" alt="" />
</div>
